# ~/DRONE/.env.example
# Rename file ini jadi .env dan isi dengan koordinat Anda

HOME_LAT=0.000000
HOME_LON=0.000000
HOME_ALT=0.0

TARGET_1_LAT=0.000000
TARGET_1_LON=0.000000

TARGET_2_LAT=0.000000
TARGET_2_LON=0.000000

FLP_LAT=0.000000
FLP_LON=0.000000